:root {
    --cor-primaria: #a4c079;
    --cor-secundaria: #FD6C22;    
    --cor-branca: #EEEEEE;
    --cor-fundo-escuro: #599100;    
    --cor-fundo-cinza-escuro: #627254;
    --cor-fundo-cinza-claro: #76885B  ;    
  }
    
  :root {
    --fonte-primaria: 'Poppins', sans serif;
    --fonte-secundaria: 'Raleway', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }